{% macro euclidea_distance() %}
sqrt(
    {% for i, term in encodings -%}
    power(TERM_{{ i }} - ({{ term }}), 2) + 
    {% endfor -%}
0)
{% endmacro %}
SELECT  face.id, face.locations, e.file_hash, {{ euclidea_distance() }} as distance 
FROM faces face
INNER JOIN files e
ON face.file_id = e.id
{% if ignore_known %}
WHERE face.person_id is NULL
{% endif %}
HAVING distance < 0.5 and distance > 0
ORDER BY distance ASC
LIMIT %(limit)s