{% extends 'base.html.jinja' %}
{% block title %}
    Config
{% endblock title %}
{% block content %}
        <h1>Scan photo library</h1>
        <div>Scan status: {{ scan_status }}</div>
        {% if scan_status == 'not_started' %}
            <button type='submit' class="button primary">Start scanning</button>
        {% endif %}
{% endblock content %}