{% extends 'base.html.jinja' %} 
{% block title %}
    {{ name }}
{% endblock title %}
{% macro print_faces(faces) %}
{% for face in faces %}
{% set (top, right, bottom, left) = face.locations %}
<div class="shape">
<div
    class="crop"
    style="
    background-image: url('{{ api.get_img_url(face.file_hash) }}');
    "
>
    <div
    class="face-square"
    style="
    top: {{ top }}px; left: {{ left }}px; 
    right: calc(224px - {{ right }}px); bottom: calc(224px - {{ bottom }}px);"
    >
    {{face.distance}}
    </div>
    <div class="info">face id:{{ face.id }}</div>
</div>
</div>
{% endfor %}
{% endmacro %}
{% block head %}
    <script>
        window.server_data = JSON.parse('{ "faces": {{ faces | tojson }} }')
        window.page = 'person-faces'
    </script>
{% endblock head %}
{% block content %}
<section >
    <h1>Known faces</h1>
    <div class="grid-container">{{ print_faces(faces) }}</div>
</section>
<section id='possible-matches'>
</section>
{% endblock content %}
