{% extends 'base.html.jinja' %}
{% macro print_faces(people) %}
        
      {% for person in people %}
      {% set (top, right, bottom, left) = person[ 'locations' ] %}
      <div class="shape"><a href="{{ url_for('known_person_faces', id=person.person_id) }}" >
        <div
          class="crop"
          style="
            background-image: url('{{ api.get_img_url(person.file_hash) }}');
          "
        >
          <div
            class="face-square"
            style="
            top: {{ top }}px; left: {{ left }}px; 
            right: calc(224px - {{ right }}px); bottom: calc(224px - {{ bottom }}px);"
          >
          </div>
          <div class="info">{{ person.name }}</div>
        </div>
     </a> </div>
      {% endfor %}
{% endmacro %}
{% block content %}
        <h1>Known people</h1>
        <div class="grid-container">{{ print_faces(people) }}</div>
{% endblock content %}