<aside class="sidebar">
    <div class="sidebar-item">
        <a href="{{ url_for('unknown_faces')}}" > <i class="fa fa-user-secret"></i> Unknown</a>
    </div>
    <div class="sidebar-item">
        <a href="{{ url_for('known_faces')}}" > <i class="fa fa-user"></i> People</a>
    </div>
    <div class="sidebar-item">
        <a href="{{ url_for('config_page')}}" > <i class="fa fa-cog"></i> Config</a>
    </div>
</aside>