{% set crop_expand =  30 %}
{% set crop_expanded = crop_size + crop_expand %}
html * {
  box-sizing: border-box;
}
.crop {
  width: 224px;
  height: 224px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.crop-wrapper {
  position: relative;
  width: {{ crop_expanded }}px;
  height: {{ crop_expanded }}px;
}
.crop-face {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-repeat: no-repeat;
  transition: all 0.2s;
  position: absolute;
  top: {{ crop_expand / 2}}px;
  left: {{ crop_expand / 2}}px;
}

.crop-face:hover {
  width: {{ crop_expanded }}px;
  height: {{ crop_expanded }}px;
  top: 0;
  left: 0;
}

.face-square {
  position: absolute;
  opacity: 0;
  background: rgba(0, 0, 0, 0.1);
  border: 1px dashed blue;
  padding: 8px 16px;
  transition: all 0.2s;
  color: white;
  font-size: 12px;
}
.info {
  position: absolute;
  bottom: 0px;
  left: 8px;
  height: 16px;
  font-size: 12px;
  color: white;
}
.crop:hover > .face-square {
  opacity: 1;
}

.grid-container {
  display: flex;
  padding: 16px;
  max-width: 1080px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.grid-container > .shape {
  padding: 16px;
}
