<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Identify faces</title>
    <script src="https://unpkg.com/hyperhtml@latest/min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
      {% include 'style.jinja.css' %}
    </style>
    <script>
        const server_data = JSON.parse('{{ people | tojson }}')
    </script>
    <script src="static/App.js"></script>
  </head>
  <body>
    <main class="grid-container">
      {% for (url, (top, right, bottom, left), face_id) in images %}
      {# Faces are square, so we can calculate just one side #}
      {% set face_size =  right - left %}
      {% set offset = ( crop_size - face_size)/2 | abs  %}
      {% set left_x = [ left - offset - 2, 0] | max %}
      {% set top_y = [ top - offset - 2, 0 ] | max %}
      <div class="crop-wrapper">
        <div
          data-coord="{{(top, right, bottom, left)}}"
          data-faceSize="{{ face_size }}"
          data-idx="{{ loop.index - 1}}"
          class="crop-face"
          onClick="selectFace(event)"
          id="{{ face_id }}"
          style="
            background-image: url('{{ url }}');
            background-position-x: {{ [ left_x, 100 ] | min}}%;
            background-position-y: {{ [ top_y, 100 ]| min }}%;
          "
        >
        </div>
        <div class="info">face id:{{ face_id }}</div>
      </div>
      {% endfor %}
    </main>
  </body>
</html>
