<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Identify faces</title>
    <style>
      {% include 'style.jinja.css' %}
    </style>
  </head>
  <body>
    <main class="grid-container">
      {% for (url, (top, right, bottom, left), face_id) in images %}
      {% set offset = ( ( crop_size - (right - left ))/2 | abs ) %}
      {% set left_x = left - offset %}
      {% set top_y = top - offset %}
      <div class="shape">
        <div
          data-coord="{{(top, right, bottom, left)}}"
          class="crop-face"
          style="
            background-image: url('{{ url }}');
            background-position-x: -{{ left_x }}px;
            background-position-y: -{{ top_y }}px;
          "
        >
        </div>
        <div class="info">face id:{{ face_id }}</div>
      </div>
      {% endfor %}
    </main>
  </body>
</html>
