@import './common.scss';

.info {
    position: absolute;
    bottom: 0px;
    left: 8px;
    height: 16px;
    font-size: 12px;
    color: white;
}

.crop:hover > .face-square {
    opacity: 1;
}

.grid-container {
    display: flex;
    padding: 16px;
    max-width: 1080px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.grid-container > .shape {
    padding: 16px;
}

.main {
    padding-left: 200px;
}

.page {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
html,
body {
    margin: 0;
    padding: 0;
}

.sidebar {
    @extend %bg;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 24px;
    position: fixed;
}

.sidebar-item {
    cursor: pointer;
    padding: 8px 8px;
}
.sidebar-item a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    color: white;
}
.sidebar-item i {
    padding-right: 8px;
}

.button {
    @apply px-3 py-2 rounded-md text-sm font-medium text-white bg-purple-900;

    li {
        @apply pr-1;
    }

    &:hover {
        @apply bg-purple-500 text-gray-700;
    }

    &:focus {
        @apply outline-none text-white bg-gray-700;
    }
}
