@import './common.scss';
.modal-wrapper {
    @apply fixed inset-0 flex items-center justify-center;
}

.modal-title {
    @extend %title-modal;
    padding-bottom: $p-md;
}

.modal-background {
    @apply absolute inset-0;
    background-color: rgba(0, 0, 0, 0.55);
}

.modal-wrapper-inner {
    @apply items-center justify-center flex relative;
}

.modal-body {
    @apply rounded bg-gray-100 flex justify-center items-center p-2;
    min-width: 200px;
    min-height: 200px;
    max-height: 80%;
    max-width: 640px;
}

.modal-closed {
    display: none;
}
