@import './common.scss';
.modal-wrapper {
    @apply fixed inset-0 flex items-center justify-center;
}

.modal-title {
    @extend %title-modal;
    padding-bottom: $p-md;
}

.modal-background {
    @apply absolute inset-0;
    background-color: rgba(0, 0, 0, 0.55);
}

.modal-body {
    @apply rounded bg-gray-100 flex flex-col p-2;
    position: relative;
    min-width: 200px;
    min-height: 200px;
    max-width: 80%;
}

.modal-closed {
    display: none;
}
