@import './common.scss';

.toolbar {
    // @extend %bg;
    background-color: rgba($color: white, $alpha: 0.8);
    position: fixed;
    padding: 24px;
    bottom: -200px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    .button {
        @apply mr-2 ml-2;
    }
}

.toolbar-show {
    bottom: 0;
}
